body
{
    margin: 0 auto;
}

ul
{
    text-decoration: none;
    background-color: rgb(43, 226, 52);
    height: 70px;
    margin: 0 auto;
    padding-top: 38px;
}

li
{
    text-decoration: none;
    list-style: none;
    background-color: aquamarine;
    font-size: 30px;
    display: inline;
    padding: 10px 10px;
    border-radius: 40px;
}

li a
{
    text-decoration: none;
    padding: 50px;
}


li:hover
{
    background-color: rgb(252, 255, 52);
    font-weight: 900;
}