
header
{
    width: 100%;
    height: 40px;
}




ul
{
    list-style:none ;        /*menu il ulla . dot inai remove panna vendum*/
    background-color: rgba(243, 70, 214, 0.705);
    margin-left: 1270px;     /*total menu um left il varum */
    overflow:hidden;         /*idhu illavittal color vilangathu*/
}

ul li
{
    float: left;
    margin: 30px 30px;      /*1st top & bottom 2nd left & right*/
    background: fixed;
}

ul li a
{
    text-decoration: none;     
    color: rgb(168, 3, 3);
    display: block;                 /*menu inai thani thani box aaha edukkum inspect il parkkalam*/
}

ul li:hover
{
    background-color: rgba(23, 245, 134, 0.74);    /*text background kku hover effect*/
}

ul li a:hover
{
    color: rgb(0, 0, 0);                           /*text kku hover effect*/
    background-color: rgba(35, 222, 255, 0.74);    /*text background kku hover effect*/
    background: fixed;
}